ul.card-list li {
  list-style: none;
}

ul.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.card {
  width: 480px;
  margin: 10px;
  padding: 15px 10px;
}

li.natural {
  background-color: #e1edce;
}

li.market {
  background-color: #f8ddd7;
}

li.card .planka {
  display: inline;
  padding: 5px;
}
li.card.natural .planka {
  background-color: #88aa4d;
}
li.card.market .planka {
  background-color: #f75531;
}
